@if (User.Identity.IsAuthenticated)
{
    <text>
    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

                if (claimsIdentity != null)
                {
                    @Html.ActionLink(claimsIdentity.Name, "Index", "UserProfile", routeValues: null, htmlAttributes: null)
                }
            }
        </li>
        <li>
            <a href="/Account/SignOut" target="_self">Sign out</a>
        </li>
    </ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <!--@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", target = "_self" })-->
            <a href="/Account/SignIn" target="_self">Sign in</a>
        </li>
    </ul>
}