@using Microsoft.Azure.ActiveDirectory.GraphClient
@model User

@{
    ViewBag.Title = "User Profile";
}

<div class="theme-showcase" role="main">
    <div class="container">
        <div class="section">
            <h3>Grant access to all users in your organization</h3><span style="color:crimson"><h5>Only admin can grant access</h5></span>
            <button type="button" onclick="window.location.href='@Url.Action("GrantAccessToNonAdminUsers", "UserProfile")'" class="btn btn-lg btn-primary IoT">Grant Access</button>
            <br />
            <br />
            <h4>User Profile</h4>
            <table class="table table-bordered table-striped">
                <tr>
                    <td>Display Name</td>
                    <td>@Model.DisplayName</td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>@Model.GivenName</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>@Model.Surname</td>
                </tr>
            </table>
        </div>
    </div>
</div>


