@{
    ViewData["Title"] = "Access denied";
}

<div class="theme-showcase" role="main">
    <div class="container">
        <div class="section">
            <header>
                <h2 class="text-danger">ViewData["Title"]</h2>
                <p class="text-danger">You do not have access to this resource.</p>
            </header>
        </div>
    </div>
</div>



