@{
    ViewBag.Title = "Sign Out";
}

<div class="theme-showcase" role="main">
    <div class="container">
        <div class="section">
            <p class="text-success">You have successfully signed out.</p>
        </div>
    </div>
</div>
