@{
    ViewData["Title"] = "Signed out";
}

<div class="theme-showcase" role="main">
    <div class="container">
        <div class="section">
            <h2>@ViewData["Title"]</h2>
            <p>
                You have successfully signed out.
            </p>
        </div>
    </div>
</div>



