@model MS.IoT.MarketingPortal.Web.Models.WatchVideoModel

@{
    ViewBag.Title = "Home";
}

<div class="theme-showcase" role="main" ng-controller="homectrl">
    <div class="container">
        <!-- Main section for a primary marketing message or call to action -->
        <div class="section">
            <h1>4x4 Executive Summary</h1>
            <div class="row">
                <div class="col-md-8">
                    <p>The security of an internet connected device requires continuous renewal.</p>
                    <p>With 4x4, Microsoft is sharing over 20 years of experience in protecting internet connected devices.</p>
                    <p>
                        4x4 solution includes:
                        <ul class="checklist">
                            <li>An ecosystem of secure connected microcontrollers.</li>
                            <li>A secure microcontroller operating system.</li>
                            <li> 
                                A security service that renews security, filter failures and brokers trust
                                for your devices.
                            </li>
                            <li>Software development tools.</li>
                        </ul>
                    </p>
                    <p>Microsoft is committed to creating a vibrant 4x4 ecosystem that will ensure longevity and cost effective options for your devices.</p>
                    <p>For Microsoft Partners, we can provide a device recovery and compensation model for partners.</p>
                    <p class="centerfordevices"><button type="button" onclick="window.location.href='@Url.Action("GetStarted", "Home")'" class="btn btn-lg btn-primary IoT">Get Started</button> <button type="button" data-toggle="modal" data-target="#videoModal" class="btn btn-lg btn-primary IoTalternative pull-right">Watch Video</button></p>
                    <p class="centerfordevices"></p>
                </div>
                <div class="col-md-4">
                    <img src="~/images/4x4.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="middlesection">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="center"><img src="~/images/4x4-logo.png" class="logo" alt="" /></p>
                    <p class="center"><img src="~/images/digital-transformation.png" class="digital-transformation" alt="" /></p>
                </div>
                <div class="col-md-8">
                    <h1>4x4 Enables a Universal Digital Transformation</h1>
                    <p>
                        <span class="bold">Enable new customer experiences</span> - Allow customers to monitor and control devices
                        from their smartphones, both at home and remotely. Enable useful connections
                        between devices.
                    </p>
                    <p>
                        <span class="bold">Access direct, live business intelligence</span> - Use connection to gather live telemetry of
                        the state, environment, behavior, usage and location of all devices.
                    </p>
                    <p>
                        <span class="bold">Lower repair times and improve margins on extended warranties</span> - Use telemetry to
                        measure real-world reliability, predict failures, find solutions before technicians arrive.
                        Introduce variable pricing in warranties to increase margin and volume.
                    </p>
                    <p>
                        <span class="bold">Create post-scale monetization opportunities - </span>Use connection to provision supplies,
                        market enhancements, and upgrade product by turning on new features post-sale.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Main section for a primary marketing message or call to action -->
        <div class="section">
            <div class="row">
                <div class="col-md-8">
                    <h1>A Complete Solution for Creating Highly Secure Devices</h1>
                    <br />
                    <br />
                </div>
                <div class="col-md-4"><p class="center"><img src="~/images/icons.png" class="icons" alt="" /></p></div>
            </div>
            <div class="row">
                <div class="col-md-2"><img src="~/images/icon1.png" class="icon" alt="" /></div>
                <div class="col-md-10">
                    <h3>Silicon IP blocks and Architecture to create secure and economical MCUs for any device.</h3>
                    <ul class="checklist">
                        <li>Provide tamper-resistance secure hardware root of trust from factory to field.</li>
                        <li>Built on Pluton security subsystem.</li>
                        <li>Packages for even the most cost sensitive devices.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><img src="~/images/icon2.png" class="icon" alt="" /></div>
                <div class="col-md-10">
                    <h3>Operating System with ongoing servicing to create dependable root of trust.</h3>
                    <ul class="checklist">
                        <li>Security picovisor guarantees integrity of software stack and guarantees “no brick” update.</li>
                        <li>Compartmentalization provides defense in depth and allows recovery under attack.</li>
                        <li>Linux kernel enables a robust and agile hardware/software ecosystem.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><img src="~/images/icon3.png" class="icon" alt="" /></div>
                <div class="col-md-10">
                    <h3>Security Service to guarantee ongoing security of 4x4-powered devices.</h3>
                    <ul class="checklist">
                        <li>Compartmentalized software update of 4x4 OS and applications.</li>
                        <li>Failure reporting and analysis for OS and application (security) failures.</li>
                        <li>Certificate-based identity and authentication for device-to-cloud and device-to device comm.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><img src="~/images/icon4.png" class="icon" alt="" /></div>
                <div class="col-md-10">
                    <h3>Developer SDKs and Tools to make it easier to create secure applications.</h3>
                    <ul class="checklist">
                        <li>Professional software development experience in Visual Studio.</li>
                        <li>Application model enables secure reuse of proven software components in devices.</li>
                        <li>Side-loading (field servicing) and over-the-air update of applications.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" style="width:1080px" role="document">
            <div>
                <video autofocus id="videoShow" width="1080" controls><source src="@Model.VideoUrl" type="video/mp4">Your browser doesn\'t support HTML5 video tag.</video>
            </div>
        </div>
    </div>
</div>
