@using System.Security.Principal


@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

                if (claimsIdentity != null)
                {
                    var givenName = claimsIdentity.Claims.First(e => e.Type.Equals("given_name")).Value;

                    if (givenName != null)
                    {
                        <a asp-area="" asp-controller="UserProfile" asp-action="Index">@givenName</a>
                    }
                }
            }
        </li>
        <li><a asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Signin" id="loginLink">Sign in</a></li>
    </ul>
}
