<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="common" />
    <add key="ida:ClientId" value="2a0dcccc-ef18-4db0-899f-ed67c5676fb2" />
    <add key="ida:RedirectUri" value="http://MS.IoT.Simulator.WPF" />
    <add key="ida:GraphResourceId" value="https://graph.windows.net/" />
    <add key="cdb:EndPoint" value="" />
    <add key="cdb:AuthKey" value="" />
    <add key="cdb:Database" value="MSIoT" />
    <add key="cdb:ColTemplates" value="Templates" />
    <add key="cdb:ColMessages" value="Messages" />
    <add key="iotHub:HostName" value="" />
    <add key="iotHub:ConnectionString" value="" />
    <add key="iotHub:SimulatorDeviceName" value="SimulatorDevice" />
  </appSettings>
</configuration>