<div id="template" ng-show="vm.currentTemplateState != null">
    <div class="panel-default panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <span class="panel-title" ng-bind="vm.currentTemplateState.name"></span>
                    <button type="button" class="btn btn-success pull-right">Simulate</button>
                    <button type="button" uib-popover="Saved!" class="btn btn-success pull-right" ng-click="vm.save()">Save</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="vm.resetView()">Reset</button>
                 </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    Template Name: 
                </div>
                <div class="col-md-6">
                    <input type="text" ng-model="vm.currentTemplateState.name"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Description</h4>
                </div>
                <div class="col-md-6">Setup your white goods product with our 3 step IoT acclerator designer.</div>
            </div>
            <div class="row">

            </div>

            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success" ng-click="vm.openJSONModal()">Display JSON Code</button>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <treeview-block template="vm.currentTemplateState"></treeview-block>
                </div>
            </div>
        </div>

    </div>
</div>